
@media screen and (min-width: 551px) {

    .services{
        background-color: #eeeeee;
    }
    
    .services--card__container{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    

    .services--cut-card {
        display:flex;
        flex-grow: 2;
        align-content: center;
    }
    .treatments-card,
    .extensions-card{
        display:flex;
        flex-grow: 1;
       
    
    }

}

@media screen and (max-width: 550px) {
   
    


    .services--card__container{

        
    }
    #gradient {
        /* Data URI encoded from: pccolor.svg */
        background: #c960f5 url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjUwMHB4IiBoZWlnaHQ9IjUwMHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPGRlZnM+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkaWVudCIgeDE9IjAuNSIgeTE9IjAiIHgyPSIwLjUiIHkyPSIxIj4KICAgPHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjNzYzZGM2IiAvPgogICA8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNjOTYwZjUiIC8+CiAgPC9saW5lYXJHcmFkaWVudD4KIDwvZGVmcz4KIDxnPgogIDxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBzdHJva2Utd2lkdGg9IjAiIHg9IjAiIHk9IjAiIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiAvPgogPC9nPgo8L3N2Zz4KICAgIA==) top repeat-x;
        background-size: contain;
      }
    .services--icons{
       margin-top:1em;
        width:100px;
        filter: url(#drop-shadow),url(#drop-shadow);
        filter: drop-shadow(6px 6px 0px #c960f5 );

        display:flex;
        margin:auto;
        /* background-image: linear-gradient(red, orange); */

    }
    .services--header__icon{
        margin-top:1em;

        text-align: center;
        color:white;
    }
li {
    /* list-style: none; */
    
   
}

    body{
        margin:0;
        font-family: "Open Sans"

    }
.services h3{
    /* text-decoration: underline; */
    margin:auto;
    margin-top:2.5%;
    width:150px;
    height: 3px;
    background: #763dc6;
    background: -webkit-linear-gradient(to top, #763dc6, #c960f5);
    background: linear-gradient(to top, #763dc6, #c960f5);
    /* --main-color: #763dc6;
    --secondary-bg-color: #c960f5; */
}
    .services{
        background-color: #eeeeee;
        width:100vw;
    }

    .services--cut__header-container,
    .services--treatment__header-container,
    .services--cut__header-container,
    .services--treatment__header-container{
        background-color: 
        display:block;
        height:150px;;
        background-color: #763dc6;

        /* margin:auto; */


    }
    .services-card1__content-list,
    .treatments-content,
    .extensions-content{
    width: 100%;
    color: black;
    display:  flex;
    vertical-align: middle;
    white-space: pre-wrap;
    /* font-size:1.15rem; */
    background-color: #eeeeee;
    justify-content: center;
    
    }

    .services--cut-card {
        display:flex;
        flex-grow: 2;
        align-content: center;
        margin:auto;
        width:100vw;
        height:100%;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0 14px 28px rgba(118, 61, 198, 0.25),
        0 10px 10px rgba(118, 61, 198, 0.22);
        
    }
    .treatments-card,
    .extensions-card{
        display:flex;
        flex-direction: column;
        width:100vw;
        flex-grow: 1;
        box-shadow: 0 14px 28px rgba(118, 61, 198, 0.25),
        0 10px 10px rgba(118, 61, 198, 0.22);

    
    }

}