@media screen and (max-width: 551px) {
    .locations-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 5em;
    }
    .sf,
    .marin {
        flex: 0 1 50%;
        text-align: center;
        color: white;
        height: 10em;
    }
    .sf {
        background: linear-gradient(to right, rgb(198, 61, 61), #c960f5);
        transform: skewY(-10deg);
        line-height: 10em;
    }
    .sf-span {
        transform: skewY(10deg);
    }

    .marin {
        background: linear-gradient(to left, rgb(216, 93, 22), #c960f5);
        transform: skewY(-10deg);
        line-height: 10em;
    }
    .marin-span {
        transform: skewY(10deg);
    }

    .marin-span,
    .sf-span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font-size: 1.3rem;
    }
    .disclaimer {
        margin-top: 5em;
    }
}

@media screen and (min-width: 551px) {
    .locations-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 5em;
    }
    .sf,
    .marin {
        flex: 0 1 50%;
        text-align: center;
        color: white;
        height: 10em;
    }
    .sf {
        background: linear-gradient(to right, #763dc6, #c960f5);
        transform: skewY(10deg);
        line-height: 10em;
    }

    .sf-span {
        transform: skewY(-10deg);
    }

    .marin {
        background: linear-gradient(to left, #763dc6, #c960f5);
        transform: skewY(-10deg);
        line-height: 10em;
    }
    .marin-span {
        transform: skewY(10deg);
    }

    .marin-span,
    .sf-span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font-size: 1.5rem;
    }
}
