<!-- build:css Ashley-Profesional-Site/css/main-min.css -->
/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    /* background-color: #eeeeee; */
    /* color: #222; */
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Corey Written Sections
   ========================================================================== */


/* ==========================================================================
   VARIABLES
   ========================================================================== */


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* COLORS */

:root {
    --main-color: #763dc6;
    --secondary-bg-color: #c960f5;
    --comp-color: #ffec3e;
    --transparency-main: rgba(118, 61, 198, 0.75);
    --transparency-secondary: rgba(200, 96, 245, 0.75);
    /* FONTS */
    --headline-font: "Libre Baskerville" "Kaushan Script", "San Serif";
    --secondary-font: "Open Sans", "Arial";
}

/* ==========================================================================
  WILDCARD and Structural Content
  ========================================================================== */

.site {
    background-color: #eeeeee;

    padding: 0;
    /*overflow: scroll;*/
}

/* 
/* CLOSE OF MEDIA QUERY     */

/* ==========================================================================
   ELEMENTS
   ========================================================================== */

li {
    list-style: none;
    margin: 20px 0;
    vertical-align: middle;
}

ul {
    list-style: none;
    margin-bottom: 10px;
    text-align: left;
}

h3 {
    color: white;

}

a {
    font-family: var(--secondary-font);
    color: black;
    padding-right: 55px;
    padding-left: 55px;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    /* vertical-align: middle; */
    height: auto;
    font-weight: normal;
}

/* CLASSES */

.splash {
    background-attachment: fixed;
    /* background-size: cover; */
    /* background-color: #763dc6;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23763dc6' cx='50' cy='0' r='50'/%3E%3Cg fill='%237a3fc8' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%237e40cb' cx='50' cy='100' r='50'/%3E%3Cg fill='%238342cd' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%238744d0' cx='50' cy='200' r='50'/%3E%3Cg fill='%238b45d2' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%238f47d4' cx='50' cy='300' r='50'/%3E%3Cg fill='%239349d7' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23974bd9' cx='50' cy='400' r='50'/%3E%3Cg fill='%239b4cdb' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a04ede' cx='50' cy='500' r='50'/%3E%3Cg fill='%23a450e0' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a852e2' cx='50' cy='600' r='50'/%3E%3Cg fill='%23ac53e5' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b055e7' cx='50' cy='700' r='50'/%3E%3Cg fill='%23b457e9' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b859ec' cx='50' cy='800' r='50'/%3E%3Cg fill='%23bd5bee' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c15cf0' cx='50' cy='900' r='50'/%3E%3Cg fill='%23c55ef3' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c960f5' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E"); */

background-size: contain;
background-position: center;
    /* background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(var(--transparency-main)),
            to(var(--transparency-secondary))
        ),
        url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23763dc6' fill-opacity='0.41' fill-rule='evenodd'/%3E%3C/svg%3E");,
        url("/Users/corey/Desktop/Dev/Portfolio/Ashley-Website/Ashley-Profesional-Site/img/ash-pic.jpg"); */
}


.section-transition {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
}
#right-arrow-id {
    margin-top: 25em;
    right: 0;
}
.right-arrow {
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    z-index: 12;
    -webkit-animation-name: bounce-right;
    animation-name: bounce-right;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes bounce-right {
    from {
        -webkit-transform: translatex(0);
        transform: translatex(0);
    }
    to {
        -webkit-transform: translatex(10px);
        transform: translatex(10px);
    }
}

@keyframes bounce-right {
    from {
        -webkit-transform: translatex(0);
        transform: translatex(0);
    }
    to {
        -webkit-transform: translatex(10px);
        transform: translatex(10px);
    }
}
.splash{
    height:100vh;
}





.scheduler-btn {
    font-family: "Open Sans";
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 0.5rem 1rem;
    margin: 0;
    height: auto;
    border: 2px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: black;
    border-radius: 25px;
    background-size: 200% auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f02fc2),
        color-stop(51%, #6094ea),
        to(#f02fc2)
    );
    background-image: -webkit-linear-gradient(
        left,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    background-image: -o-linear-gradient(
        left,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top, right top,
        from(#f02fc2),
        color-stop(51%, #6094ea),
        to(#f02fc2)
    );
    background-image: linear-gradient(
        to right,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    text-align: center;
}

.scheduler-btn:hover {
    background-position: right center;
    color: var(--comp-color);
    background-position: top;
    -webkit-box-shadow: 0 14px 28px rgba(118, 61, 198, 0.25),
        0 10px 10px rgba(118, 61, 198, 0.75);
    box-shadow: 0 14px 28px rgba(118, 61, 198, 0.25),
        0 10px 10px rgba(118, 61, 198, 0.75);
}

.splash-headline{
    position:absolute;
    -ms-transform: skewY(-15deg);
    /* IE 9 */
    -webkit-transform: skewY(-15deg);
    /* Safari */
    transform: skewY(-15deg);

color: var(--comp-color);
    font-family: "Kaushan Script";
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
    -ms-flex-line-pack: center;
    align-content: center;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.9), 0px 8px 13px rgba(0, 0, 0, 0.5),
                0px 18px 23px rgba(0, 0, 0, 0.5);

}

.splash-doodle{
    /* border: 2em solid black; */
    background-color:#eee;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#topnav{
    padding-top:1em;
    font-color: black;
    background-color: transparent;
    display: block;
    width:100vw;
    /* height:150px; */
    text-align: center;
}
*:focus {
    outline: 1;
}


/* SERVICES SECTION */

.services {
    background-color: #eeeeee;
    position: relative;
    font-family: "Open Sans";
    color: black;
}
.services-flex-boxes h3 {
    font-size: 2rem;
}

.services-content {
    /* padding-bottom: 50px; */
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    /* background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23c960f5' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23c960f5' fill-opacity='0.4' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E"); */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23c960f5' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); */
    
    background-image:url(data:image/svg+xml;base64,CiAgPHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEyMCc+CiAgICA8ZGVmcz4KICAgIAk8cGF0dGVybiBwYXR0ZXJuVW5pdHM9J3VzZXJTcGFjZU9uVXNlJyBpZD0nYycgd2lkdGg9JzYwJyBoZWlnaHQ9JzEyMCcgeD0nMCcgeT0nMCcgdmlld0JveD0nMCAwIDUgMTAnPgogICAgCQk8cGF0aCBmaWxsLW9wYWNpdHk9JzAnIHN0cm9rZT0nI2M5NjBmNScgc3Ryb2tlLXdpZHRoPScuMDcnIGQ9J00tMiwxTDcsMTBNLTIsNkw3LDE1TS0yLC00TDcsNScvPgogICAgCTwvcGF0dGVybj4KICAgIAk8cGF0dGVybiBwYXR0ZXJuVW5pdHM9J3VzZXJTcGFjZU9uVXNlJyBpZD0nYzInIHdpZHRoPSc2MCcgaGVpZ2h0PScxMjAnIHg9JzEwMCUnIHk9JzAnIHZpZXdCb3g9JzAgMCA1IDEwJz4KICAgIAkJPHBhdGggZmlsbC1vcGFjaXR5PScwJyBzdHJva2U9JyNjOTYwZjUnIHN0cm9rZS13aWR0aD0nLjA3JyBkPSdNNywxTC0yLDEwTTcsNkwtMiwxNU03LC00TC0yLDUnLz4KICAgIAk8L3BhdHRlcm4+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0nNTAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYyknLz4KICAgIDxyZWN0IHg9JzUwJScgd2lkdGg9JzUwJScgaGVpZ2h0PScxMDAlJyBmaWxsPSd1cmwoI2MyKScvPgogIDwvc3ZnPgogIA==);
    
}

.services-title {
    display: block;
    margin: auto;
    font-family: var(--headline-font);
    font-size: 2em;
    color: var(--main-color);
    font-family: "Kaushan Script";
    letter-spacing: 0.4rem;
   
}

.services-intro {
    display: block;
    padding-bottom: 25px;
    font-size: 1.3rem;
    line-height: 2rem;
    font-family: var(--secondary-font);
    text-align: justify;
    color: #222;
}

#cut-card,
#extensions-card,
#treatments-card {
    
    border-left: 2.5em solid #763dc6;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    /* background-image: -webkit-radial-gradient(center, circle, #f02fc2, #6094ea);
    background-image: -o-radial-gradient(center, circle, #f02fc2, #6094ea);
    background-image: radial-gradient(circle at center, #f02fc2, #6094ea); */
    margin-left:1em;
  background-color: #eeeeee;
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
         -o-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* overflow: hidden; */
    margin-left:1em;
    margin-bottom: 5em;
    -webkit-box-shadow: 0 14px 28px rgba(118, 61, 198, 0.25),
        0 10px 10px rgba(118, 61, 198, 0.22);
    box-shadow: 0 14px 28px rgba(118, 61, 198, 0.25),
        0 10px 10px rgba(118, 61, 198, 0.22);
}





#cut-content{
    margin:auto;
}

#cut-card h3{
    /* display:inline-block;
    margin-top: 1em;
    margin-left:2em; */

}
.services--ul__1{
    /* position:relative; */
    /* margin:auto; */
    /* float:left; */
    display:inline-block;
}
.services--ul__2{
    position:relative;
    margin:auto;
    float:left;
    margin-left:1em;
    display:inline;
}

#cut-card img {
   
    margin-left:1em;
    margin-top:1em;
    width: 15%;

}
#extensions-content img {
    width: 30%;
    display: block;
    margin: auto;
    font-size: 1.2rem;
    margin-top: 1.55em;
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(12px 12px 4px var(--transparency-main));
    filter: drop-shadow(12px 12px 4px var(--transparency-main));
}
#treatments-content img {
    width: 15%;
    display: block;
    margin: auto;
    font-size: 1.2rem;
    margin-top: 1.55em;
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(12px 12px 4px var(--transparency-main));
    filter: drop-shadow(12px 12px 4px var(--transparency-main));
}

@-webkit-keyframes slideIn {
    from {
        opacity: 0;
        background-position: center;
    }
    to {
        opacity: 1;
        background-position: top;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        background-position: center;
    }
    to {
        opacity: 1;
        background-position: top;
    }
}

#btn-marin-book:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: var(--comp-color);
    -webkit-box-shadow: 0 14px 28px #763dc640,
        0 10px 10px rgba(118, 61, 198, 0.75);
    box-shadow: 0 14px 28px hsla(265, 55%, 51%, 0.25),
        0 10px 10px rgba(118, 61, 198, 0.75);
}

#btn-sf-book:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: var(--comp-color);
    -webkit-box-shadow: 0 14px 28px rgba(118, 61, 198, 0.25),
        0 10px 10px rgba(118, 61, 198, 0.75);
    box-shadow: 0 14px 28px rgba(118, 61, 198, 0.25),
        0 10px 10px rgba(118, 61, 198, 0.75);
}

/* LOCATIONS*/
@media screen and (max-width: 550px) {
    .splash-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height:100vh;
    }

    .scheduler-btn {
        font-family: "Open Sans";
        font-weight: normal;
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        line-height: normal;
        padding: 0.5rem 1rem;
        /* margin: 0; */
        margin-left:2.5%;
        text-align: center;
        width:90%;
        height: auto;
        border: 2px solid;
        vertical-align: middle;
        -webkit-appearance: none;
        color: white;
        border-radius: 25px;
        background-size: 200% auto;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#f02fc2),
            color-stop(51%, #6094ea),
            to(#f02fc2)
        );
        background-image: -webkit-linear-gradient(
            left,
            #f02fc2 0%,
            #6094ea 51%,
            #f02fc2 100%
        );
        background-image: -o-linear-gradient(
            left,
            #f02fc2 0%,
            #6094ea 51%,
            #f02fc2 100%
        );
        background-image: -webkit-gradient(
            linear,
            left top, right top,
            from(#f02fc2),
            color-stop(51%, #6094ea),
            to(#f02fc2)
        );
        background-image: linear-gradient(
            to right,
            #f02fc2 0%,
            #6094ea 51%,
            #f02fc2 100%
        );
        text-align: center;
    }

    .menu-hamburger{
        width:50px;
        position:absolute;
        top:-5;
        left:0;
    }

        /* Hide large format menu */
        #topnav{
            display:none;
        }
        /* Mobile Menu */
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    background-color:#c960f5; /* Black fallback color */
    background-color: rgba(200, 96, 245, 0.75); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    font-family: "Open Sans";
    /* text-decoration: none; */
    margin-top:1em;
    font-size: 36px;
    color: white;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: var(--comp-color);
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {

    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
    .splash-header {
        /* margin:auto;
        position: absolute;
        left: 10%;
        top: 40%; */
        /* -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%); */
        color: var(--comp-color);
            font-family: "Kaushan Script";
            text-align: center;
            font-size: 1.5rem;
            letter-spacing: 0.4rem;
            -ms-flex-line-pack: center;
            align-content: center;
        
            text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
                0px 18px 23px rgba(0, 0, 0, 0.1);
        
            -ms-transform: skewY(-15deg);
            /* IE 9 */
            -webkit-transform: skewY(-15deg);
            /* Safari */
            transform: skewY(-15deg);
            text-rendering: optimizeLegibility;
        }
        



    /*Beginning of Locations chevron  */
    .locations-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    #btn-sf-book {
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
    }
    #btn-marin-book {
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
    }
    #btn-sf-book,
    #btn-marin-book {
        margin-left: 2em;
        margin-right: 2em;
    }
    .sf,
    .marin {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 50%;
                flex: 0 1 50%;
        /* text-align: center; */
        color: white;
        height: 25em;
    }
    .sf {
        background: -webkit-gradient(linear,left top, right top,from(var(--main-color)), to(#c960f5));
        background: -webkit-linear-gradient(left,var(--main-color), #c960f5);
        background: -o-linear-gradient(left,var(--main-color), #c960f5);
        background: linear-gradient(to right,var(--main-color), #c960f5);
        -webkit-transform: skewY(-10deg);
            -ms-transform: skewY(-10deg);
                transform: skewY(-10deg);
        line-height: 15em;
    }
    .sf-span {
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
    }
    #testimonials{
        background-color: #eeeeee;
    }
    .p-testimonial-1,
    .p-testimonial-2{
        line-height:1.5rem;
        font-size: 1.35rem;
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
        margin-top:5.5em;
        margin-left:2em;
        margin-right:2em;
        font-family: "Open Sans";
        text-align: justify;
    }
    .name-testimonial-1{
        margin-top:-4em;
        margin-left:2em;
        margin-right:2em;
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
        font-style: italic;
        font-size: 1.35rem;
        font-family: "Kaushan Script";
        letter-spacing: 0.2rem;

    }
    .name-testimonial-2{
        margin-top:1em;
        margin-left:2em;
        margin-right:2em;
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
        font-style: italic;
        font-size: 1.35rem;
        font-family: "Kaushan Script";
        letter-spacing: 0.2rem;
    }

    .marin {
        background: -webkit-gradient(linear, right top, left top, from(var(--main-color)), to(#c960f5));
        background: -webkit-linear-gradient(right, var(--main-color), #c960f5);
        background: -o-linear-gradient(right, var(--main-color), #c960f5);
        background: linear-gradient(to left, var(--main-color), #c960f5);
        -webkit-transform: skewY(-10deg);
            -ms-transform: skewY(-10deg);
                transform: skewY(-10deg);
        /* line-height: 15em; */
    }
    .marin-span {
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
    }

    .marin-span,
    .sf-span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font-size: 1.3rem;
    }

    /* End of Locations chevron */

    /* beginning of booking chevron */
    .booking-container {
        background-color: #eeeeee;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    #btn-sf-book {
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
    }
    #btn-marin-book {
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
        
    }
    #btn-sf-book,
    #btn-marin-book {
        /* margin-left:2em;
    margin-right:2em; */
    }
    .sf-book,
    .marin-book {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 50%;
                flex: 0 1 50%;
        text-align: center;
        color: white;
        height: 20em;
    }
    .sf-book {
        background: -webkit-gradient(linear,left top, right top,from(var(--main-color)), to(#c960f5));
        background: -webkit-linear-gradient(left,var(--main-color), #c960f5);
        background: -o-linear-gradient(left,var(--main-color), #c960f5);
        background: linear-gradient(to right,var(--main-color), #c960f5);
        -webkit-transform: skewY(-10deg);
            -ms-transform: skewY(-10deg);
                transform: skewY(-10deg);
        /* line-height: 20em; */
    }

    .marin-book {
        background: -webkit-gradient(linear,right top, left top,from(var(--main-color)), to(#c960f5));
        background: -webkit-linear-gradient(right,var(--main-color), #c960f5);
        background: -o-linear-gradient(right,var(--main-color), #c960f5);
        background: linear-gradient(to left,var(--main-color), #c960f5);
        -webkit-transform: skewY(-10deg);
            -ms-transform: skewY(-10deg);
                transform: skewY(-10deg);
        /* line-height: 20em; */
    }

    .booking-container span {
        display: block;
    }

    #marin-span-book {
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
    }
    #sf-span-book {
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
    }

    #marin-span-book,
    #sf-span-book {
        display: block;
        vertical-align: middle;
        line-height: normal;
        font-size: 1.3rem;
    }
    .header-loc-booking{
        margin-top:3.5em;
        font-family: "Kaushan Script";
        letter-spacing: 0.2rem;
        font-size:1.4rem;
    }
.text-loc-booking{
    font-family: "Open Sans";
    /* margin-top:-1em; */
}
p-loc-booking{
    text-align: center;
    font-family: "Open Sans";

}

    .disclaimer {
        text-align: center;
        font-family: "Open Sans";
        margin-top:1em;
    }
    /* End of booking chevron */
    .footer-headline{
        margin-top:3em;
    }

    /* END of Max 550 PX */
}

@media screen and (min-width: 551px) {
    .splash-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height:100vh;
    }
    
    .splash-header {
        /* margin:auto;
        position: absolute;
        left: 40%;
        top: 40%; */
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        color: var(--comp-color);
            font-family: "Kaushan Script";
            text-align: center;
            font-size: 1.5rem;
            letter-spacing: 0.4rem;
            -ms-flex-line-pack: center;
            align-content: center;
        
            /* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
                0px 18px 23px rgba(0, 0, 0, 0.1); */
        
            -ms-transform: skewY(-15deg);
            /* IE 9 */
            -webkit-transform: skewY(-15deg);
            /* Safari */
            transform: skewY(-15deg);
            text-rendering: optimizeLegibility;
        }
        

    #myNav{
        display:none;
    }
    .menu-hamburger{
        display:none;
    }
    .locations-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        /* margin-top: 5em; */
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
    .p-testimonial-1{
        line-height:1.5rem;
        font-size: 1.35rem;
        -webkit-transform: skewY(-10deg);
            -ms-transform: skewY(-10deg);
                transform: skewY(-10deg);
        margin-top:3.5em;
        margin-left:2em;
        margin-right:2em;
        font-family: "Open Sans";
        text-align: justify;
        
    }

    .p-testimonial-2{
        line-height:1.5rem;
        font-size: 1.35rem;
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
        margin-top:3.5em;
        margin-left:2em;
        margin-right:2em;
        font-family: "Open Sans";
        text-align: justify;
    }
    .name-testimonial-1 {
        margin-top:1em;
        margin-left:2em;
        margin-right:2em;
        -webkit-transform: skewY(-10deg);
            -ms-transform: skewY(-10deg);
                transform: skewY(-10deg);
        font-style: italic;
        font-family: "Kaushan Script";
        letter-spacing: 0.2rem;
        font-size: 2rem;
        text-align: right;

    }
    .disclaimer {
        text-align: center;
        font-family: "Open Sans";
        margin-top:1em;
    }

    .name-testimonial-2{
        margin-top:1em;
        margin-left:2em;
        margin-right:2em;
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
        font-style: italic;
        font-family: "Kaushan Script";
        font-size: 2rem;
        letter-spacing: 0.2rem;
        text-align: right;
    }

    .sf,
    .marin {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 50%;
                flex: 0 1 50%;
        text-align: center;
        color: white;
        height: 25em;
    }
    .sf {
        background: -webkit-gradient(linear, left top, right top, from(#763dc6), to(#c960f5));
        background: -webkit-linear-gradient(left, #763dc6, #c960f5);
        background: -o-linear-gradient(left, #763dc6, #c960f5);
        background: linear-gradient(to right, #763dc6, #c960f5);
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
        /* line-height: 15em; */
    }

    .sf-span {
        -webkit-transform: skewY(-10deg);
            -ms-transform: skewY(-10deg);
                transform: skewY(-10deg);
        display: block;
    }
    #btn-sf-book {
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
        /* position:relative; */
    }
    #btn-marin-book {
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
    }
    .marin {
        background: -webkit-gradient(linear, right top, left top, from(#763dc6), to(#c960f5));
        background: -webkit-linear-gradient(right, #763dc6, #c960f5);
        background: -o-linear-gradient(right, #763dc6, #c960f5);
        background: linear-gradient(to left, #763dc6, #c960f5);
        -webkit-transform: skewY(-10deg);
            -ms-transform: skewY(-10deg);
                transform: skewY(-10deg);
        /* line-height: 15em; */
    }
    /* .marin-span{
    transform: skewY(-10deg);
} */
    .header-loc-sf {
        display: block;
        font-family: "Kaushan Script";
        font-size: 2rem;
        letter-spacing: 0.2rem;
        -webkit-transform: skewY(-10deg);
            -ms-transform: skewY(-10deg);
                transform: skewY(-10deg);
    }
    .text-loc-sf {
        display: block;
        margin-top: -1.75em;
        font-family: "Open Sans";
        font-weight: 600;
        -webkit-transform: skewY(-10deg);
            -ms-transform: skewY(-10deg);
                transform: skewY(-10deg);
    }
    .p-loc-sf {
        display: block;
        font-family: "Open Sans";
        -webkit-transform: skewY(-10deg);
            -ms-transform: skewY(-10deg);
                transform: skewY(-10deg);
        font-size: 1.5rem;
    }
    .header-loc-marin {
        display: block;
        font-family: "Kaushan Script";
        font-size: 2rem;
        letter-spacing: 0.2rem;
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
    }

    .text-loc-marin {
        display: block;
        margin-top: -1.75em;
        font-family: "Open Sans";
        font-weight: 600;
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
    }

    .p-loc-marin {
        display: block;
        font-family: "Open Sans";
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
        font-size: 1.5rem;
    }

    #marin-span,
    #sf-span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font-size: 1.5rem;
        margin-top: 2.75em;
    }

    /* begin booking chevron */

    .booking-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: 20em;
        /* margin-top:5em; */
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
    .sf-book,
    .marin-book {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 50%;
                flex: 0 1 50%;
        text-align: center;
        color: white;
        height: 20em;
        font-size: 1.5rem;
        /* line-height: 20em; */
        /* padding-top:5em; */
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .text-loc-booking {
        /* margin-top: -1.75em; */
        font-family: "Open Sans";
        font-weight: 600;
    }

    .p-loc-booking {
        font-family: "Open Sans";
    }

    #sf-span-book,
    #marin-span-book {
        margin-top: 6em;
    }
    .header-loc-booking {
        font-family: "Kaushan Script";
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

    .marin-book {
        background: -webkit-gradient(linear, right top, left top, from(#763dc6), to(#c960f5));
        background: -webkit-linear-gradient(right, #763dc6, #c960f5);
        background: -o-linear-gradient(right, #763dc6, #c960f5);
        background: linear-gradient(to left, #763dc6, #c960f5);
        -webkit-transform: skewY(-10deg);
            -ms-transform: skewY(-10deg);
                transform: skewY(-10deg);
        /* line-height: 17em; */
    }
    .sf-book {
        background: -webkit-gradient(linear, left top, right top, from(#763dc6), to(#c960f5));
        background: -webkit-linear-gradient(left, #763dc6, #c960f5);
        background: -o-linear-gradient(left, #763dc6, #c960f5);
        background: linear-gradient(to right, #763dc6, #c960f5);
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
    }
    #btn-sf-book {
        -webkit-transform: skewY(-10deg);
            -ms-transform: skewY(-10deg);
                transform: skewY(-10deg);
    }
    #marin-span-book {
        -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
                transform: skewY(10deg);
        display: block;
    }

    #sf-span-book {
        display: block;
        -webkit-transform: skewY(-10deg);
            -ms-transform: skewY(-10deg);
                transform: skewY(-10deg);
    }

    /* end of min-width: 551px query */
}

/*LOCATIONS END*/

.work-content {
    background-color: #eeeeee;
    width: 100vw;
    height: 1250px;
    padding: 0;
    margin: 0;
    margin-top: -85px;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
}

.work-header {
    /*height:1500px;*/
    text-align: center;
    display: block;
    background-color: #eeeeee;
    margin-top: 3em;
    font-family: "Kaushan Script";
    letter-spacing: 0.4rem;
    font-size: 2em;
    color: var(--main-color);
    /* -webkit-box-shadow: 15px 0 15px ##eeeeee;
    box-shadow: 15px 0 15px #eeeeee; */
    z-index: 10;
}
.disclaimer {
    margin-left: 5em;
}

#btn-sf-book,
#btn-marin-book {
    display: inline-block;

    z-index: 150;
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 0.5rem 1rem;
    border: 2px solid;

    -webkit-appearance: none;
    color: white;
    border-radius: 25px;
    background-size: 200% auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f02fc2),
        color-stop(51%, #6094ea),
        to(#f02fc2)
    );
    background-image: -webkit-linear-gradient(
        left,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    background-image: -o-linear-gradient(
        left,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top, right top,
        from(#f02fc2),
        color-stop(51%, #6094ea),
        to(#f02fc2)
    );
    background-image: linear-gradient(
        to right,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    text-align: center;
}
button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* CUSTOM GALLERY SECTION */

.site--image__gallery{
    display:none;
    width:100vw;
    height:100vh;
    background-color: var(--secondary-bg-color);
}
.site--image__gallery launch{
    display:none;
    width:100vw;
    height:100vh;
    background-color: var(--secondary-bg-color);
}



#portfolio {
    background-color: #eeeeee;
    background-color: #763dc6;
background-image:url(data:image/svg+xml;base64,CiAgPHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEyMCc+CiAgICA8ZGVmcz4KICAgIAk8cGF0dGVybiBwYXR0ZXJuVW5pdHM9J3VzZXJTcGFjZU9uVXNlJyBpZD0nYycgd2lkdGg9JzYwJyBoZWlnaHQ9JzEyMCcgeD0nMCcgeT0nMCcgdmlld0JveD0nMCAwIDUgMTAnPgogICAgCQk8cGF0aCBmaWxsLW9wYWNpdHk9JzAnIHN0cm9rZT0nI2M5NjBmNScgc3Ryb2tlLXdpZHRoPScuMDcnIGQ9J00tMiwxTDcsMTBNLTIsNkw3LDE1TS0yLC00TDcsNScvPgogICAgCTwvcGF0dGVybj4KICAgIAk8cGF0dGVybiBwYXR0ZXJuVW5pdHM9J3VzZXJTcGFjZU9uVXNlJyBpZD0nYzInIHdpZHRoPSc2MCcgaGVpZ2h0PScxMjAnIHg9JzEwMCUnIHk9JzAnIHZpZXdCb3g9JzAgMCA1IDEwJz4KICAgIAkJPHBhdGggZmlsbC1vcGFjaXR5PScwJyBzdHJva2U9JyNjOTYwZjUnIHN0cm9rZS13aWR0aD0nLjA3JyBkPSdNNywxTC0yLDEwTTcsNkwtMiwxNU03LC00TC0yLDUnLz4KICAgIAk8L3BhdHRlcm4+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0nNTAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYyknLz4KICAgIDxyZWN0IHg9JzUwJScgd2lkdGg9JzUwJScgaGVpZ2h0PScxMDAlJyBmaWxsPSd1cmwoI2MyKScvPgogIDwvc3ZnPgogIA==);
    margin: 1rem 0;
    margin-top: 200px;
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
    overflow-x: scroll;
}

.tile {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}

.scale-anm {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 100%;
    margin-bottom: 1rem;
    /* border-radius: 10px; */
}

.btn {
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 0.5rem 1rem;
    margin: 0;
    height: auto;
    border: 2px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: white;
    border-radius: 25px;
    /* background: linear-gradient(to right, var(--main-color), var(--secondary-bg-color)) */
}

.btn:hover {
    cursor: pointer;
    color: var(--comp-color);
    background-position: top;
    -webkit-box-shadow: 0 14px 28px rgba(118, 61, 198, 0.25),
        0 10px 10px rgba(118, 61, 198, 0.75);
    box-shadow: 0 14px 28px rgba(118, 61, 198, 0.25),
        0 10px 10px rgba(118, 61, 198, 0.75);
}

a:hover {
    cursor: pointer;
    color: var(--comp-color);
    background-position: top;
}

.btn:focus {
    outline: none;
    border-color: var(--darken-2);
    -webkit-box-shadow: 0 0 0 3px var(--darken-3);
    box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* END OF GALLERY */

.footer-content {
    background-color: #7b43c9;
    width: 100vw;
    margin-top: 10em;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top:20em;
    padding-top:2em;
}

/* IDs */

#btn-all:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: var(--comp-color);
    -webkit-box-shadow: 0 14px 28px rgba(118, 61, 198, 0.25),
        0 10px 10px rgba(118, 61, 198, 0.75);
    box-shadow: 0 14px 28px rgba(118, 61, 198, 0.25),
        0 10px 10px rgba(118, 61, 198, 0.75);
}

#btn-extensions:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: var(--comp-color);
}

#btn-styling:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: var(--comp-color);
}

#btn-treatments:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: var(--comp-color);
}

.btn-1 {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f02fc2),
        color-stop(51%, #6094ea),
        to(#f02fc2)
    );
    background-image: -webkit-linear-gradient(
        left,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    background-image: -o-linear-gradient(
        left,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top, right top,
        from(#f02fc2),
        color-stop(51%, #6094ea),
        to(#f02fc2)
    );
    background-image: linear-gradient(
        to right,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
}

#btn-all {
    /* background: linear-gradient(to left, #F02FC2, #6094EA); */
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 0.5rem 1rem;
    margin: 0;
    height: auto;
    border: 2px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: white;
    border-radius: 25px;
    background-size: 200% auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f02fc2),
        color-stop(51%, #6094ea),
        to(#f02fc2)
    );
    background-image: -webkit-linear-gradient(
        left,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    background-image: -o-linear-gradient(
        left,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top, right top,
        from(#f02fc2),
        color-stop(51%, #6094ea),
        to(#f02fc2)
    );
    background-image: linear-gradient(
        to right,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    text-align: center;
}

form {
    text-align: center;
}

#btn-extensions {
    background-size: 200% auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f02fc2),
        color-stop(51%, #6094ea),
        to(#f02fc2)
    );
    background-image: -webkit-linear-gradient(
        left,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    background-image: -o-linear-gradient(
        left,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top, right top,
        from(#f02fc2),
        color-stop(51%, #6094ea),
        to(#f02fc2)
    );
    background-image: linear-gradient(
        to right,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
}

#btn-styling {
    background-size: 200% auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f02fc2),
        color-stop(51%, #6094ea),
        to(#f02fc2)
    );
    background-image: -webkit-linear-gradient(
        left,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    background-image: -o-linear-gradient(
        left,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top, right top,
        from(#f02fc2),
        color-stop(51%, #6094ea),
        to(#f02fc2)
    );
    background-image: linear-gradient(
        to right,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
}

#btn-treatments {
    background-size: 200% auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f02fc2),
        color-stop(51%, #6094ea),
        to(#f02fc2)
    );
    background-image: -webkit-linear-gradient(
        left,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    background-image: -o-linear-gradient(
        left,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top, right top,
        from(#f02fc2),
        color-stop(51%, #6094ea),
        to(#f02fc2)
    );
    background-image: linear-gradient(
        to right,
        #f02fc2 0%,
        #6094ea 51%,
        #f02fc2 100%
    );
}

#hero {
    margin: auto;
}

#mobile-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    /*margin:auto;*/
}

.footer-headline {
    color: var(--comp-color);
    display: block;
    margin: auto;
    margin-left: 15px;
    font-size: 2rem;
    text-rendering: optimizeLegibility;
    text-align: center;
}

.social-footer {
    margin-top: 5em;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
         -o-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    font-family: "sans-serif";
    /* background: linear-gradient(center, rgb(198, 61, 61), #C960F5); */
}

.footer-headline {
    font-family: "Kaushan Script";
}

#insta-icon {
    fill: var(--comp-color);
    margin: auto;
    width: 100px;
    height: 100px;
    border: 0;
    display: block;
    margin-top:-1em;
}
.social-footer:hover {
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(12px 12px 4px black);
    filter: drop-shadow(12px 12px 4px black);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (-o-min-device-pixel-ratio: 5/4),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}